p {
  text-align: justify;
}

.hero-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 0px 0px 7em;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-in-out;
  background-color: white;
}

.hero-section.visible {
  opacity: 1;
  transform: translateY(0);
  align-items: center;
}

.hero-title {
  text-align: left;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: black;
}

.hero-image-wrapper {
  position: relative;
  width: 90%;
  height: 35em;
  overflow: hidden;
  border-radius: 30px;
  margin-bottom: 40px;
  box-shadow: 0 4px 10px #606060;
}

.imagemDestaque {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
}

.seta-icon {
  position: absolute;
  bottom: 0em;
  right: 1.5em;
  background-color: white;
  border-radius: 30% 30% 0% 0%;
  padding: 10px;
}

.seta-icon img {
  width: 100%;
  height: 100%;
}

.hero-text-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
}

.hero-highlight {
  flex: 1;
  font-size: 2rem;
  font-weight: 600;
  text-align: right;
  min-width: 250px;
  color: black;
}

.hero-description {
  flex: 2;
  font-size: 1rem;
  color: black;
  min-width: 250px;
}

@media (max-width: 768px) {
  .hero-text-container {
    flex-direction: column;
  }

  .hero-title {
    text-align: center;
  }

  .hero-highlight,
  .hero-description {
    text-align: center;
  }

  .seta-icon {
    right: 10px;
    bottom: 10px;
  }
}
